<div *ngIf="status.online" class="card mb-3 text-center">
    <div class="card-body">
        <h1 class="card-title ">
            {{status.address}}
        </h1>
        <p class="card-text">
            <span class="badge badge-warning">Version: {{status.version}}</span> <span
                class="badge badge-success">Online: {{status.current_players}}</span>
            <div *ngIf="status.players">
                <br>Players online:
                <span class="badge badge-info" *ngFor="let p of status.players">
                    {{p}}
                </span>
            </div>
    </div>
</div>