<header>
    <nav ngbNav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow mb-3" style="background-color: black;">
        <div class="container">
            <a class="navbar-brand" href="/">
                <!--<img src="/img/logo.svg" width="30" height="30" class="d-inline-block align-top" />-->Oeloes Space
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <!--<li class="navitem">
                        <a class="nav-link text-light" [routerLink]="['/players']">Players</a>
                    </li>

                    <li class="navitem">
                        <a class="nav-link text-light" [routerLink]="['/map']">Map</a>
                    </li>-->
                </ul>
            </div>
        </div>
    </nav>
</header>